# Week 2 Assignment

In [5]:
# Fire up dependecies and necessary datasets.
import graphlab
sales = graphlab.SFrame('home_data.gl/')

Selection and summary statistics: In the notebook we covered in the module, we discovered which neighborhood (zip code) of Seattle had the highest average house sale price. Now, take the sales data, select only the houses with this zip code, and compute the average price. Save this result to answer the quiz at the end.

In [6]:
average = sales[sales['zipcode'] == '98039']['price'].mean()
print average

2160606.6

Filtering data: One of the key features we used in our model was the number of square feet of living space (‘sqft_living’) in the house. For this part, we are going to use the idea of filtering (selecting) data.

In particular, we are going to use logical filters to select rows of an SFrame. You can find more info in the Logical Filter section of this documentation. Using such filters, first select the houses that have ‘sqft_living’ higher than 2000 sqft but no larger than 4000 sqft. What fraction of the all houses have ‘sqft_living’ in this range? Save this result to answer the quiz at the end.

In [8]:
filtered_sqft_living = sales[(sales['sqft_living'] > 2000) & (sales['sqft_living'] < 4000)]

In [9]:
filtered_sqft_living

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 1736800520 | 2015-04-03 00:00:00+00:00 |  662500 |    3     |    2.5    |     3560    |
| 9297300055 | 2015-01-24 00:00:00+00:00 |  650000 |    4     |     3     |     2950    |
| 2524049179 | 2014-08-26 00:00:00+00:00 | 2000000 |    3     |    2.75   |     3050    |
| 7137970340 | 2014-07-03 00:00:00+00:00 |  285000 |    5     |    2.5    |     2270    |
| 3814700200 | 2014-11-20 00:00:00+00:00 |  329000 |    3     |    2.25   |     2450    |
| 1794500383 | 2014-06-26 00:00:00+00:00 |  937000 |    3     |    1.75   |     2450    |
| 1873100390 | 2015-03-02 00:00:00+00:00 |  719000 |    4     |    2.5    |     2570    |
| 8562750320 | 2014-11-10 00:00:00+00:00 |  580500 |    3     |    2.5    |     2320    |
| 0461000390 | 2014-06-24 00:00:00+00:00 |  687500 |    4     |    1.75   |     2330    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|   9796   |   1    |     0      |  0   |     3     |   8   |    1860    |      1700     |
|   5000   |   2    |     0      |  3   |     3     |   9   |    1980    |      970      |
|  44867   |   1    |     0      |  4   |     3     |   9   |    2330    |      720      |
|   6300   |   2    |     0      |  0   |     3     |   8   |    2270    |       0       |
|   6500   |   2    |     0      |  0   |     4     |   8   |    2450    |       0       |
|   2691   |   2    |     0      |  0   |     3     |   8   |    1750    |      700      |
|   7173   |   2    |     0      |  0   |     3     |   8   |    2570    |       0       |
|   3980   |   2    |     0      |  0   |     3     |   8   |    2320    |       0       |
|   5000   |  1.5   |     0      |  0   |     4     |   7   |    1510    |      820      |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1965   |      0       |  98007  | 47.60065993 | -122.14529566 |     2210.0    | ... |
|   1979   |      0       |  98126  | 47.57136955 | -122.37541218 |     2140.0    | ... |
|   1968   |      0       |  98040  | 47.53164379 | -122.23345881 |     4110.0    | ... |
|   1995   |      0       |  98092  | 47.32658071 | -122.16892624 |     2240.0    | ... |
|   1985   |      0       |  98030  | 47.37386303 | -122.17228981 |     2200.0    | ... |
|   1915   |      0       |  98119  | 47.63855772 | -122.35985573 |     1760.0    | ... |
|   2005   |      0       |  98052  | 47.70732168 | -122.11029785 |     2630.0    | ... |
|   2003   |      0       |  98027  |  47.5391103 | -122.06971484 |     2580.0    | ... |
|   1929   |      0       |  98117  | 47.68228235 | -122.36760203 |     1460.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [48]:
# Determine Fractional Value of Houses with Above Range
print "Fractional Value: " + str(len(filtered_sqft_living)) + "/" + str(len(sales))

# Decimal value turns out approx 0.42155

Fractional Value: 9111/21613

Building a regression model with several more features: In the sample notebook, we built two regression models to predict house prices, one using just ‘sqft_living’ and the other one using a few more features, we called this set

In [16]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

Now, going back to the original dataset, you will build a model using the following features:

In [19]:
advanced_features = [
    'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
    'condition', # condition of house
    'grade', # measure of quality of construction
    'waterfront', # waterfront property
    'view', # type of view
    'sqft_above', # square feet above ground
    'sqft_basement', # square feet in basement
    'yr_built', # the year built
    'yr_renovated', # the year renovated
    'lat', 'long', # the lat-long of the parcel
    'sqft_living15', # average sq.ft. of 15 nearest neighbors
    'sqft_lot15', # average lot size of 15 nearest neighbors 
]

Compute the RMSE (root mean squared error) on the test_data for the model using just my_features, and for the one using advanced_features.

Note 1: both models must be trained on the original sales dataset, not the filtered one.

Note 2: when doing the train-test split, make sure you use seed=0, so you get the same training and test sets, and thus results, as we do.

Note 3: in the module we discussed residual sum of squares (RSS) as an error metric for regression, but GraphLab Create uses root mean squared error (RMSE). These are two common measures of error regression, and RMSE is simply the square root of the mean RSS:

$$RMSE = \sqrt{\dfrac{RSS}{n}}$$

where N is the number of data points. RMSE can be more intuitive than RSS, since its units are the same as that of the target column in the data, in our case the unit is dollars ($), and doesn't grow with the number of data points, like the RSS does.

In [25]:
# Prepare Dataset via split with seed = 0
train, test = sales.random_split(.8, seed=0)

### My Features

In [35]:
myfeat_model = graphlab.linear_regression.create(train, target='price', features=my_features, validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 17384
PROGRESS: Number of features          : 6
PROGRESS: Number of unpacked features : 6
PROGRESS: Number of coefficients    : 115
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.025260     | 3763208.270523     | 181908.848367 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

### Advanced Feature

In [36]:
# Train Linear Regression
adv_feat_model = graphlab.linear_regression.create(train, target='price', features=advanced_features, validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 17384
PROGRESS: Number of features          : 18
PROGRESS: Number of unpacked features : 18
PROGRESS: Number of coefficients    : 127
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.043844     | 3469012.450686     | 154580.940736 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

### Computation of RMSE

In [38]:
# Evaluate RMSE for MyFeatures and Advanced
myfeat_rmse = myfeat_model.evaluate(test)['rmse']
advfeat_rmse =adv_feat_model.evaluate(test)['rmse']

print "My Features: " + str(myfeat_rmse)
print "Advanced Features: " + str(advfeat_rmse)

My Features: 179542.433313
Advanced Features: 156831.116802

What is the difference in RMSE between the model trained with my_features and the one trained with advanced_features? Save this result to answer the quiz at the end.

In [41]:
rmse_delta = myfeat_rmse - advfeat_rmse
print "RMSE Delta: " + str(rmse_delta)

RMSE Delta: 22711.3165105